{% extends 'index.html' %}
{% block body %}
    <!--<section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Search the database</h2>
                    <input id='search' type='text' style='color:orange'/>
                    <p id='results' class='text-faded'>Results</p>
                </div>
            </div>
        </div>
    </section>-->

	<script type='text/javascript'>
		$('#seardch').on('keyup', function() {
		$.ajax({
			type: 'GET',
			url: '/json_response/',
			data: {
				search:$('#seadrch').val(),
			},
			error:function() {
				$('#results').html('<p>Error</p>');

			},
			success:function(data) {
				$('#results').text('');
				for(i=0; i < data.length; i++) {
				$('#results').append('<a class= "text-faded" href="../list_view/?id=' + data[i][2] + '&type=' + data[i][3] + '"</a>"' + data[i][1] + '');
				}
				}
			
		})
	})
	var options = {
			type: 'GET',
			url: '/json_response/'$('#search').val(),
			data: {
				search:$('#seadrch').val(),
			},
  getValue: "type",

  list: {	
    match: {
      enabled: true
    }
  },

  theme: "square"
};

$("#search").easyAutocomplete(options);
</script>

{% endblock body %}