{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
<title>Real Space a Real Estates and Builders Category Flat Bootstrap Responsive Website Template | Home :: w3layouts </title>

<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<!--css-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Real Space Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- JS file -->
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>

<script src="{% static 'js/jquery.easy-autocomplete.min.js' %}"></script> 

<!-- CSS file -->
<link rel="stylesheet" href="{% static 'css/easy-autocomplete.min.css' %}"> 

<!-- Additional CSS Themes file - not required-->
<link rel="stylesheet" href="{% static 'css/easy-autocomplete.themes.min.css' %}"> 
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--js-->
<script src="{% static 'js/bootstrap.js' %}"></script>
<!--js-->
<!---fonts-->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
<!---fonts-->
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
	 <script>
		$(function () {
		  $("#slider").responsiveSlides({
			auto:true,
			nav: false,
			speed: 500,
			namespace: "callbacks",
			pager:true,
		  });
		});
	</script>
<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
<script src="{% static 'js/owl.carousel.js' %}"></script>
	<script>
		var owl = $("#owl-demo").owlCarousel({
			items : 1,
			lazyLoad : true,
			autoPlay : true,
			navigation : false,
			navigationText :  false,
			pagination : true,
		});
				$(document).ready(function() {
					owl;
		});
	</script>

</head>
<body>
		<!--header-->
			<div class="header-section">
				<div class="container">
					<div class="head-top">
						<div class="social-icon">
							<a href="#"><i class="icon"></i></a>
							<a href="#"><i class="icon1"></i></a>
							<a href="#"><i class="icon2"></i></a>
							<a href="#"><i class="icon3"></i></a>
							<a href="#"><i class="icon4"></i></a>
						</div>
						<div class="email">
						<ul>
							<!--<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>Email: <a href="mailto:info@example.com">info@example.com</a> </li>-->

							{% if request.user.is_authenticated %}
                                <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="/profile/">Welcome : {{ request.user.first_name }}</a><br>
                                <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="/logout/">Logout</a></li>
                        	{% endif %}

                        	{% if not request.user.is_authenticated %}
							<li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="#" data-toggle="modal" data-target="#myModal">Login</a></li>
							<li><i class="glyphicon glyphicon-lock" aria-hidden="true"></i><a href="#" data-toggle="modal" data-target="#myModal1">Register</a></li>
							{% endif %}
						</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<nav class="navbar navbar-default">
					<!--Brand and toggle get grouped for better mobile display-->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>				  
							<div class="navbar-brand">
								<h1><a href="/homepage/"><span>Real </span>Space</a></h1>
							</div>
						</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li class="active"><a href="/homepage/">Home <span class="sr-only">(current)</span></a></li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages<span class="caret"></span></a>
											<ul class="dropdown-menu">
												<li><a href="about.html">About</a></li>
												<li><a href="services.html">Services</a></li>
												<li><a href="agents.html">Agents</a></li>
												<li><a href="forrent.html">For Rent</a></li>
												<li><a href="forsale.html">For Sale</a></li>
												<li><a href="pricing.html">Pricing</a></li>
												<li><a href="faqs.html">FAQs</a></li>
												<li><a href="idxpress.html">IDXpress</a></li>
												<li><a href="terms.html">Terms of Use</a></li>
												<li><a href="privacy.html">Privacy Policy</a></li>
											</ul>
									</li>

								
								<!--<li><a href="codes.html">Codes</a></li>-->
								<li><a href="/sendmail/">Contact</a></li>
								</ul>


 									<div class="input-group"  style="float:right;">
										<form action='/search/' method='POST'>
										{% csrf_token %}
										<input id='search' type="text" class="form-control" placeholder="Search for...">
									
										</form>
									</div> 
								
									<div class="clearfix"></div>
								
							
							<!--<div class="phone">
							<span><i class="glyphicon glyphicon-phone" aria-hidden="true"></i>1-999-4563-555</span>
							</div>-->
							<div class="clearfix"></div>
						</div>
					</nav>
				</div>
			</div>
		<!--header-->
		<!--banner-->
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides" id="slider">
					<div class="slid banner1">
						  <div class="caption">
								<h3>Villas for Rental in Kuwait</h3>
								<p>Search for the perfect villa to rent anywhere in Kuwait. <a href="/sendmail/">Contact Us</a> for more information.</p>
						  </div>
					</div>
					<div class="slid banner2">	
						  <div class="caption">
								<h3>Apartments for Rent in Kuwait</h3>
								<p>Search for the perfect apartment to rent anywhere in Kuwait. <a href="/sendmail/">Contact Us</a> for more information.</p>
								
						  </div>
					</div>
					<div class="slid banner3">	
						<div class="caption">
							<h3>Find Your Perfect Home</h3>
							<p>Search For Your Perfect Home.</p>
							<!--<a href=".place-section" class="button">Search Now!</a>-->
						</div>
					</div>
				</ul>
			</div>
		</div>
<!--banner-->

        	<div class="content">
		<div class="place-section">
			<div class="container">
				<h2>find your place</h2>
				<div class="place-grids">
					<form action="/search_view/" method='POST'>
					<div class="col-md-3 place-grid">
					<label for="id_area"><h5> All Areas:</label> <select class='sel' id="id_area" name="area">
						<option value="" selected="selected">---------</option>
						<option value="1">Kuwait City</option>
						<option value="2">Dasm?n</option>
						<option value="3">Sharq</option>
						<option value="4">Dasma</option>
						<option value="5">Da&#39;iya</option>
						<option value="6">Saw?bir</option>
						<option value="7">Mirg?b</option>
						<option value="8">Jibla</option>
						<option value="9">Salhiya</option>
						<option value="10">Bneid il-G?r</option>
						<option value="11">Keifan</option>
						<option value="12">Mans?riya</option>
						<option value="13">Abdullah as-Salim suburb</option>
						<option value="14">Nuzha</option>
						<option value="15">Faiha&#39;</option>
						<option value="16">Shamiya</option>
						<option value="17">Rawda</option>
						<option value="18">Adiliya</option>
						<option value="19">Khaldiya</option>
						<option value="20">Qadsiya</option>
						<option value="21">Qurtuba</option>
						<option value="22">Surra</option>
						<option value="23">Yarm?k</option>
						<option value="24">Shuwaikh</option>
						<option value="25">Rai</option>
						<option value="26">Ghirnata</option>
						<option value="27">Sulaibikhat</option>
						<option value="28">Doha</option>
						<option value="29">Nahdha</option>
						<option value="30">Jabir al-Ahmad City</option>
						<option value="31">Qairaw?n</option>
						<option value="32">Hawally</option>
						<option value="33">Rumaithiya</option>
						<option value="34">Jabriya</option>
						<option value="35">Salmiya</option>
						<option value="36">Mishrif</option>
						<option value="37">Sha&#39;ab</option>
						<option value="38">Bay?n</option>
						<option value="39">Bi&#39;di&#39;</option>
						<option value="40">Nigra</option>
						<option value="41">Salwa</option>
						<option value="42">Maidan Hawalli</option>
						<option value="43">Mubarak aj-Jabir suburb</option>
						<option value="44">South Surra</option>
						<option value="45">Hittin</option>
						<option value="46">Mubarak al-Kabeer</option>
						<option value="47">Ad?n</option>
						<option value="48">Qurain</option>
						<option value="49">Qus?r</option>
						<option value="50">Sabah as-Salim suburb</option>
						<option value="51">Mis?la</option>
						<option value="52">Abu &#39;Fteira</option>
						<option value="53">Sabh?n</option>
						<option value="54">Fint?s</option>
						<option value="55">Funait?s</option>
						<option value="56">Ahmadi</option>
						<option value="57">Aqila</option>
						<option value="58">Zuhar</option>
						<option value="59">Miqwa&#39;</option>
						<option value="60">Mahbula</option>
						<option value="61">Rigga</option>
						<option value="62">Hadiya</option>
						<option value="63">Abu Hulaifa</option>
						<option value="64">Sabahiya</option>
						<option value="65">Mangaf</option>
						<option value="66">Fahaheel</option>
						<option value="67">Wafra</option>
						<option value="68">Zoor</option>
						<option value="69">Khairan</option>
						<option value="70">Abdullah Port</option>
						<option value="71">Agricultural Wafra</option>
						<option value="72">Bneidar</option>
						<option value="73">Jilei&#39;a</option>
						<option value="74">Jabir al-Ali Suburb</option>
						<option value="75">Fahd al-Ahmad Suburb</option>
						<option value="76">Shu&#39;aiba</option>
						<option value="77">Sabah al-Ahmad City</option>
						<option value="78">Nuwaiseeb</option>
						<option value="79">Khairan City</option>
						<option value="80">Ali as-Salim suburb</option>
						<option value="81">Sabah al-Ahmad Nautical City</option>
						</select>
					</div>

					
				</div>
				<div class="place-grids">
					<div class="col-md-2 place-grid1">
						<h5>Livingrooms</h5>
						<select class="sel" id='id_livingroom'>
						<option value="">any</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						</select>
					</div>
					<div class="col-md-2 place-grid1">
						<h5>Bathrooms</h5>
						<select class="sel" id='id_bathroom'>
							<option value="">any</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>
					<div class="col-md-2 place-grid1">
						<h5>Min Price</h5>
						<select class="sel" id='id_minprice'>
							<option value="">any</option>
							<option value="100">100 KD</option>
							<option value="200">200 KD</option>
							<option value="300">300 KD</option>
							<option value="500">500 KD</option>
							<option value="800">800 KD</option>
							<option value="1000">1000 KD</option>
							<option value="1200">1200 KD</option>
							<option value="1500">1500 KD</option>

						</select>
					</div>
					<div class="col-md-2 place-grid1">
						<h5>Max Price</h5>
						<select class="sel" id='maxprice'>
							<option value="">any</option>
							<option value="200">200 KD</option>
							<option value="500">500 KD</option>
							<option value="1000">1000 KD</option>
							<option value="2000">2000 KD</option>
							<option value="3000">3000 KD</option>
							<option value="5000">5000 KD</option>
						</select>
					</div>
					<div class="col-md-3 place-grid">
						<label><input type="checkbox" id='id_internet' name='internet'><h5>Internet</h5></label>
						<label><input type="checkbox" id='id_pets' name="pets"><h5>Pets Allowed</h5></label><br>
						<label><input type="checkbox" id='id_maidroom' name="maidroom"><h5>Maidroom</h5></label>
						<label><input type="checkbox" id='id_lift' name="lift"><h5>Elevator</h5></label><br>
						<label><input type="checkbox" id= 'id_balcony' name="balcony"><h5>Balcony</h5></label><br>
						<label><input type="number" id= 'id_parking' name="parking"><h5>Parking</h5></label><br>
					</div>
					<div class="col-md-4 search">
					        {%csrf_token%}
						<input type="submit" value="Search">
					</form>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>


			<div class="friend-agent">
				<div class="container">
				<div class="offering">
					<h3>We are Offering the Best Real Estate Deals</h3>
				</div>
					<div class="friend-grids">
						<div class="col-md-4 friend-grid">
							<img src="{% static 'images/p.png' %}">
							<h4>Search From Anywhere</h4>
						</div>
						<div class="col-md-4 friend-grid">
							<img src="{% static 'images/p1.png' %}">
							<h4>Friendly Agents</h4>
						</div>
						<div class="col-md-4 friend-grid">
							<img src="{% static 'images/p2.png' %}">
							<h4>Rent Villas Or Apartments</h4>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!--<div class="offering">
				<div class="container">
					<h3>We are Offering the Best Real Estate Deals</h3>
					<div class="offer-grids">
						<div class="col-md-6 offer-grid">
							<div class="offer-grid1">
								<h4><a href="single.html">Villa In Hialeah, Dade County</a></h4>
								<div class="offer1">
									<div class="offer-left">
										<a href="single.html" class="mask"><img src="{% static 'images/p3.jpg' %}" class="img-responsive zoom-img" alt=""/></a>
									</div>
									<div class="offer-right">
										<h5><label>$</label> 7,500 Per Month - <span>Single Family Home</span></h5>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh…</p>
										<a href="single.html"class="button1">more details</a>
									</div>
										<div class="clearfix"></div>
								</div>
							</div>
						</div>
							<div class="col-md-6 offer-grid">
								<div class="offer-grid1">
									<h4><a href="single.html">401 Biscayne Boulevard, Miami</a></h4>
									<div class="offer1">
										<div class="offer-left">
											<a href="single.html" class="mask"><img src="{% static 'images/p4.jpg' %}" class="img-responsive zoom-img" alt=""/></a>
									</div>
										<div class="offer-right">
											<h5><label>$</label> 3,250 Per Month - <span>Condominium</span></h5>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh…</p>
											<a href="single.html"class="button1">more details</a>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						<div class="clearfix"></div>
					</div>
					<div class="offer-grids">
						<div class="col-md-6 offer-grid">
							<div class="offer-grid1">
								<h4><a href="single.html">3895 NW 107th Ave</a></h4>
								<div class="offer1">
									<div class="offer-left">
										<a href="single.html" class="mask"><img src="{% static 'images/p5.jpg' %}" class="img-responsive zoom-img" alt=""/></a>
									</div>
									<div class="offer-right">
										<h5><label>$</label> 5,200 Per Month - <span>Office</span></h5>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh…</p>
										<a href="single.html"class="button1">more details</a>
									</div>
										<div class="clearfix"></div>
								</div>
							</div>
						</div>
							<div class="col-md-6 offer-grid">
								<div class="offer-grid1">
									<h4><a href="single.html">1400 Anastasia Avenue, Coral</a></h4>
									<div class="offer1">
										<div class="offer-left">
											<a href="single.html" class="mask"><img src="{% static 'images/p6.jpg' %}" class="img-responsive zoom-img" alt=""/></a>
									</div>
										<div class="offer-right">
											<h5><label>$</label> 525,000 - <span>Villa</span></h5>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh…</p>
											<a href="single.html"class="button1">more details</a>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						<div class="clearfix"></div>
					</div>
					<div class="offer-grids">
						<div class="col-md-6 offer-grid">
							<div class="offer-grid1">
								<h4><a href="#">12 Apartments Of Type A</a></h4>
								<div class="offer1">
									<div class="offer-left">
										<a href="single.html" class="mask"><img src="{% static 'images/p7.jpg' %}" class="img-responsive zoom-img" alt=""/></a>
									</div>
									<div class="offer-right">
										<h5><label>$</label> 3,200 Per Month - <span>Apartment</span></h5>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh…</p>
										<a href="single.html"class="button1">more details</a>
									</div>
										<div class="clearfix"></div>
								</div>
							</div>
						</div>
							<div class="col-md-6 offer-grid">
								<div class="offer-grid1">
									<h4><a href="single.html">20 Apartments Of Type B</a></h4>
									<div class="offer1">
										<div class="offer-left">
											<a href="single.html" class="mask"><img src="{% static 'images/p8.jpg' %}" class="img-responsive zoom-img" alt=""/></a>
									</div>
										<div class="offer-right">
											<h5><label>$</label> 4,200 Per Month - <span>Apartment</span></h5>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh…</p>
											<a href="single.html"class="button1">more details</a>	
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>-->
			<!--Featured Properties-->
				<!--<div class="feature-section">
					<div class="container">
						<h3>Featured Properties</h3>
						<div class="feature-grids">
							<div class="col-md-3 feature-grid">
								<img src="{% static 'images/f1.jpg' %}" class="img-responsive" alt="/">
								<h5>Villa in Hialeah, Dade</h5>
								<p>Lorem ipsum dolor sit amet, consectetuer  elit,… <a href="#">Know More</a></p>
								<span>$2,500 Per Month</span>
							</div>
							<div class="col-md-3 feature-grid">
								<img src="{% static 'images/f2.jpg' %}" class="img-responsive" alt="/">
								<h5>401 Biscayne Boulevard</h5>
								<p>Lorem ipsum dolor sit amet, consectetuer  elit,… <a href="#">Know More</a></p>
								<span>$7,500 Per Month</span>
							</div>
							<div class="col-md-3 feature-grid">
								<img src="{% static 'images/f3.jpg' %}" class="img-responsive" alt="/">
								<h5>154 Southwest  Terra</h5>
								<p>Lorem ipsum dolor sit amet, consectetuer  elit,… <a href="#">Know More</a></p>
								<span>$9,500 Per Month</span>
							</div>
							<div class="col-md-3 feature-grid">
								<img src="{% static 'images/f4.jpg' %}" class="img-responsive" alt="/">
								<h5>Florida 5, Pinecrest, FL</h5>
								<p>Lorem ipsum dolor sit amet, consectetuer  elit,… <a href="#">Know More</a></p>
								<span>$5,500 Per Month</span>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>-->
				
					<!--footer-->
					<div class="footer-section">
						<div class="container">
							<div class="footer-grids">
								<div class="col-md-3 footer-grid">
									<h4>About Real Homes</h4>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
								</div>
								<div class="col-md-3 footer-grid">
									<h4>Recent Posts</h4>
									<ul>
										<li><a href="#">Lorem Post With Image Format</a></li>
										<li><a href="#">Example Video Blog Post</a></li>
										<li><a href="#">Example Post With Gallery Post </a></li>
										<li><a href="#">Example Video Blog Post</a></li>
										<li><a href="#">Lorem Post With Image Format</a></li>
										<li><a href="#">Example Video Blog Post</a></li>
									</ul>
								</div>
								<div class="col-md-3 footer-grid">
									<h4>Useful links</h4>
									<ul>
										<li><a href="terms.html">Terms of Use</a></li>
										<li><a href="privacy.html">Privacy Policy</a></li>
										<li><a href="contact.html">Contact Support </a></li>
										<li><a href="agents.html"> All Agents</a></li>
										<li><a href="blog.html">Blog</a></li>
										<li><a href="faqs.html">FAQs</a></li>
									</ul>
								</div>
								<div class="col-md-3 footer-grid">
									<h4>Get In Touch</h4>
									<p>8901 Marmora Road</p>
									<p>Glasgow, DO4 89GR.</p>
									<p>Freephone : +1 234 567 890</p>
									<p>Telephone : +1 234 567 890</p>
									<p>FAX : + 1 234 567 890</p>
									<p>E-mail : <a href="mailto:example@mail.com"> example@mail.com</a></p>
								</div>
							<div class="clearfix"> </div>
							</div>
							
						</div>
					</div>
					<!---footer--->
					<!--copy-->
					<div class="copy-section">
						<div class="container">
							<p>&copy; 2016 Real Space. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
						</div>
					</div>
				<!--copy-->
<!-- login -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content modal-info">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
						</div>
						<div class="modal-body real-spa">
							<div class="login-grids">
								<div class="login">
									
									<div class="login-right">
										{% if request.user.is_authenticated %}
										Welcome: {{ request.user.firstname }}<br>
										<a href="/logout/">logout</a>
										{% endif %}

										{% if not request.user.is_authenticated %}
											<form action='/login/' method='POST'>
											{% csrf_token %}
											{{ form.as_p }}
											
											<h3>Login</h3>
											<input type='submit' value='Log In'>
											<input type="text" value="Enter your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your Email';}" required="">	
											<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">	
											<h4><a href="#">Forgot password</a> / <a href="#">Create new password</a></h4>
											<div class="single-bottom">
												<input type="checkbox"  id="brand" value="">
												<label for="brand"><span></span>Remember Me.</label>
											</div>
											<input type="submit" value="Login Now" >
										</form>
										{% endif %}
									</div>
																
								</div>
								<p>By logging in you agree to our <a href="#">Terms</a> and <a href="#">Conditions</a> and <a href="#">Privacy Policy</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //login -->
			<!-- Register -->
			<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content modal-info">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
						</div>
						<div class="modal-body real-spa">
							<div class="login-grids">
								<div class="login">
									<div class="login-right">
										<form>
											<h3>Register </h3>
											<input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
											<input type="text" value="Mobile number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mobile number';}" required="">
											<input type="text" value="Email id" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email id';}" required="">	
											<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">	
											
											<input type="submit" value="Register Now" >
										</form>
									</div>
									<div class="clearfix"></div>								
								</div>
								<p>By logging in you agree to our <a href="#">Terms</a> and <a href="#">Conditions</a> and <a href="#">Privacy Policy</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
	
			<!-- //Register -->

</body>

{% block body %}
{% endblock %}
	<script type='text/javascript'>
		$('#seardch').on('keyup', function() {
		$.ajax({
			type: 'GET',
			url: '/json_response/',
			data: {
				search:$('#seadrch').val(),
			},
			error:function() {
				$('#results').html('<p>Error</p>');

			},
			success:function(data) {
				$('#results').text('');
				for(i=0; i < data.length; i++) {
				$('#results').append('<a class= "text-faded" href="../apartment_list/?id=' + data[i][2] + '&type=' + data[i][3] + '"</a>"' + data[i][1] + '');
				}
				}
			
		})
	})
	var options = {
			url: '/static/js/areas.json',
  getValue: "name",

  list: {	
  		match: {
			enabled: true
		},
  	onClickEvent: function() {
			var value = $("#search").getSelectedItemData().id;

			$("#results").val(value).trigger("change");
			document.location = '/apartment_list/?id=' + $("#search").getSelectedItemData().id 
		}
  },

  theme: "square"
};

$("#search").easyAutocomplete(options);
ser = $('#search');              
	$(ser).on('focus', function() {
		$('.easy-autocomplete-container').css('z-index', '99')
	})
</script>


</html>