{% extends 'base.html' %}
{% block body %}
	<div class="container">
		{% if request.user.is_authenticated %}
		<div class="row">
			<div class="col-md-12">
				Welcome : {{ request.user }}<br>
				<a href="/logout/">logout</a>
			</div>
		</div>
		{% endif %}

		{% if not request.user.is_authenticated %}
		<div class="row">
			<div class="col-md-12">
				<form action='/signup/' method='POST'>
					{% csrf_token %}
					{{ form.as_p}}
					<input type='submit' value='Sign Up'>
				</form>
			</div>
		</div>
		{% endif %}
	</div>
{% endblock %}